/* You can add global styles to this file, and also import other style files */
* {
    
	margin: 0;
	padding: 0;
}

.init {
    background-color: var(--surface-card);
	font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
	color: whitesmoke;
}